<html lang="pt-BR" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <th:insert th:replace="~{index :: common-head}"></th:insert>
</head>
<body class="container">
    <div>
        <div class="row">
            <h2 th:text="${title}"></h2>
        </div>
        <div class="row">
            <h3 th:text="${drinkDescription}"></h3>
        </div>
        <div class="row">
            <h3 th:text="${drinkPrice}"></h3>
        </div>
        <div class="row">
            <div class="d-line-flex">
                <a th:href="@{/coffee}" class="btn btn-primary">Order Coffee</a>
                <a th:href="@{/home}" class="btn btn-primary">Home</a>
            </div>
        </div>
    </div>
</body>
</html>